01-hello-world/target
02-variables-mutability/target
03-data-types/target
04-functions/target
05-control-flow/target
06-slice-type/target
07-structs/target
08-enums/target
09-pattern-matching/target
10-error-handling/target
11-concurrency/target
calcule-rectangle/target
convert-fahrenheit-to-celsius/target
generate-nth-fibonacci-number/target
reverse-string/target
reduce-numbers-total/target