1-hello-world/target
2-variables-mutability/target
3-data-types/target
4-functions/target
5-control-flow/target
6-slice-type/target
7-structs/target
8-enums/target
calcule-rectangle/target
convert-fahrenheit-to-celsius/target
generate-nth-fibonacci-number/target
reverse-string/target
reduce-numbers-total/target